:root {
    --green: #01b314;
    --yellow: #ffcf31;
    --black: #1f1f1f;
    --gray: #dde5eb;
    --eevee-color: #c5915d;
    --eevee-brown: #332011;
    --eevee-basic: #efdbb6;
    --eevee-white: #fcf3e4;
}
